<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # ✅ Allow access to storage folder
    RewriteCond %{REQUEST_URI} ^/storage/
    RewriteRule ^storage/(.*)$ storage/$1 [L,R=200]
</IfModule>
