@tailwind base;
@tailwind components;
@tailwind utilities;


.background-image {
    background-image: url('/img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden; /* prevent blurred edges from leaking out */
}

.background-image::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('/img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(120px);
    transform: scale(1.1); /* avoids sharp edges at sides */
    z-index: 0;
}

.custom-w{
    width: 25rem;
    padding: 30px;
}

.shop-logo{
    display: flex;
    align-items: center;

}
.boombot-logo{
    height: 80px;
}
.shop-logo img{
    width: 500px;
} 
.shop-logo h1{
    font-size: 4rem;
    color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
